<div id="main-menu">

	player id: <input type="text" id="player-id"/><br>
	<input type="button" value="Create Match" onclick="game.createMatch()"/> <br>
	<input type="button" value="Join Match" onclick="game.joinMatch()"/>
	match id: <input type="text" id="match-id"/>
	<!--
	<input type="button" value="init" onclick="console.log(game.init.board())"/>
  	<input type="button" value="end" onclick="console.log(game.end.board())"/><br>
  	<input type="button" value="draw move" onclick="console.log(game.draw.move(d3.select('#state').node().value, d3.select('#move').node().value))"/>

  	move: <input type="text" id="move"/><br>
  	<input type="button" value="draw text game" onclick="console.log(game.draw.textGame(d3.select('#state').node().value))"/>
  	<input type="button" value="draw game" onclick="console.log(game.draw.fromBoardState(d3.select('#state').node().value))"/>

  	state: <input type="text" id="state"/><br>
  	-->
</div>
