<div id="match">
	<div class="row">
		<div class="col-md-9 text-center">
			<div id="board-container"/>
		</div>
		<div class="col-md-3 right-side-bar well well-lg">
			<div class="players text-center">
				<div class="player-name">
					<strong><%= lightPlayer.username%></strong>
				</div>
				vs 
				<div class="player-name">
					<strong><%= darkPlayer.username%></strong>
				</div>
			</div>
			<div class="text-center" id="state"></div>
			<hr/>
			<strong>Chat</strong>
			<div class="pull-right btn-group">
				<button class="btn btn-default dropdown-toggle" id="options" rel="tooltip" title="Options" data-toggle="dropdown">
					<i class="glyphicon glyphicon-cog"/>
				</button>
				<ul class="dropdown-menu" role="menu" id="options-menu">
					<li><a href="#" data-toggle="modal" data-target="#surrender-modal"><strong>Surrender</strong></a></li>
				</ul>
			</div>
			<div class="chat panel panel-default">
			</div>
			<form class="form-inline chat-form">
				<input type="text" class="chat-input form-control" placeholder="Type here...">
				<button class="btn btn-success chat-send" type=button>
					<i class="glyphicon glyphicon-share-alt"/>
				</button> 
			</form>
		</div>
	</div>
	<div class="modal fade" id="modal"></div>
	<div class="modal fade" id="surrender-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Surrender</h4>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure you want to surrender?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-danger" id="surrender">Surrender</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>