<div id="match">
	<div class="row">
		<div class="col-md-9 text-center">
			<div id="board-container"/>
		</div>
		<div class="col-md-3 right-side-bar well well-lg">
			<div class="players text-center">
				<div class="player-name">
					<strong><%= lightPlayer.username%></strong>
				</div>
				vs 
				<div class="player-name">
					<strong><%= darkPlayer.username%></strong>
				</div>
			</div>
			<div class="text-center" id="state"/>
			<hr/>
			<strong>Chat</strong>
			<div class="chat panel panel-default">
			</div>
			<form class="form-inline chat-form">
				<input type="text" class="chat-input form-control" placeholder="Type here...">
				<button class="btn btn-success chat-send" type=button>
					<i class="glyphicon glyphicon-share-alt"/>
				</button> 
			</form>
		</div>
	</div>
</div>