
########################
# sails
########################
.sails
.waterline
.rigging
.tmp/

########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/

########################
# misc / editors
########################
*~
*#
.DS_Store
.netbeans
nbproject
.idea
*.swp


########################
# local config
########################
config/local.js
config/adapters.js

########################
# istanbul
########################
coverage/

murtiziq.pem
