<div id="lobby">
	<div id="player-roles" class="span4"/>
	<div id="versus" class="span4">vs.</div>
	<div id="lobby-dark-player-wrap" class="span4"/>
	<div id="lobby-start-button-wrap"/>
	<div id="lobby-host-wrap"/>
	<div id="lobby-observers-wrap"/>
</div>

