<div id="main-menu">
	<h1 id="lobby-title">Lobby</h1>
	<div id="lobby-light-player-wrap"/>
	<div id="lobby-dark-player-wrap"/>
	<div id="lobby-host-wrap"/>
	<div id="lobby-observers-wrap"/>
	<div id="lobby-start-button-wrap"/>
</div>

