<div id="lobby">
	<div class="row">
		<div class="col-md-9">
			<div id="roles-row" class="row">
				<h2 class="col-md-3 col-md-offset-2 text-center">
					Light Player
				</h2>
				<h2 class="col-md-3 col-md-offset-2 text-center">
					Dark Player
				</h2>
			</div>
			<div id="versus-row" class="row">
				<div class="col-md-3 col-md-offset-2 text-center">
					<img src="/images/pieces/pawn 1.png"/>
				</div>
				<div class="col-md-2 text-center">
					<h2>
						VS
					</h2>
					<button class="btn-sm btn-default host-feature" rel="tooltip" title="Switch Sides"  id="switch-sides">
						<i class="glyphicon glyphicon-resize-horizontal"/>
					</button>
				</div>
				<div class="col-md-3 text-center">
					<img src="/images/pieces/pawn 2.png"/>
				</div>

			</div>
			<div id="player-row" class="row"/>
			<div class="row host-feature">
				<div class="col-md-4 col-md-offset-4">
					<div class="center-block btn-lg-wrap">
						<button class="btn-lg btn-primary" id="lobby-start-button">Start Game</button>
					</div>
				</div>
			</div>
			<div id="lobby-host-wrap"/>
			<div id="lobby-observers-wrap"/>
		</div>
		<div class="col-md-3 right-side-bar well well-lg ">
			<div class="row">
				<div class="col-md-9">
					<strong>Chat</strong>
				</div>
				<div class="host-feature col-md-3 pull-right btn-group">
					<button class="btn btn-default dropdown-toggle" id="options" rel="tooltip" title="Options" data-toggle="dropdown">
						<i class="glyphicon glyphicon-cog"/>
					</button>
					<ul class="dropdown-menu" role="menu">
					    <li><a href="#">Invite Player</a></li>
					    <li class="divider"></li>
					    <li><a href="#">Disband Game</a></li>
					</ul>
				</div>
			</div>
			<div class="chat panel panel-default">
			</div>
			<input type="text" class="form-control" placeholder="Type here...">
		</div>
	</div>
</div>

