<div class="col-md-3 col-md-offset-2 text-center">
	<% if(lightPlayer){ %>
		<%=lightPlayer.username%>
	<%} else {%>	
		None
	<%}%>
</div>

<div class="col-md-3 col-md-offset-2 text-center">
	<% if(darkPlayer){ %>
		<%=darkPlayer.username%>
	<%} else {%>	
		None
	<%}%>
</div>
