<!DOCTYPE html>
<html>
  <head>
        <title><%- title %></title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <%res.header('Cache-Control', 'no-cache, private, no-store, must-revalidate, max-stale=0, post-check=0, pre-check=0');%>
        <style>
        rect {
          stroke: black;
          stroke-width: 1px;
        }
        .dark {
          fill: #9E8B5D;
          background-color:#9E8B5D;
        }
        .light {
          fill: #D6C8A7;
          background-color:#D6C8A7;
        }
        .friendly-highlight {
          fill: green;
        }
        .enemy-highlight {
          fill: red;
        }
        .neutral-highlight{
          fill: yellow;
        }
        .selected-highlight {
          fill: blue;
        }
        .white {
          color: #fff;
        }
        .black {
          color: #000;
        }
        td {
          background-color: #999;
          height:21px;
        }
       </style>
  </head>

  <body>
        <%- body %>
        
        <!-- A few key dependencies, linked in order -->
        <script type="text/javascript" src="/js/libs/jquery-1.10.2.min.js"></script>
        
        <!-- Bring in the socket.io client -->
        <script type="text/javascript" src="/js/libs/socket.io.js"></script>
        
        <!-- then beef it up with some convenience logic for talking to Sails.js -->
        <script type="text/javascript" src="/js/libs/sails.io.js"></script>

        <script type="text/javascript" src="/js/libs/underscore-min.js"></script>
        
        <!-- listen on socket.io for incoming messages -->
        <script type="text/javascript" src="/js/apis/mur.api.js"></script>
        

        <script src="/js/libs/d3.v3.min.js"></script>
        <script src="/js/app/game.js"></script>
    </body>
</html>
