<!DOCTYPE html>
<html>
  <head>
        <title><%- title %></title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <%res.header('Cache-Control', 'no-cache, private, no-store, must-revalidate, max-stale=0, post-check=0, pre-check=0');%>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles/game.css" rel="stylesheet">
  </head>

  <body class="container">
        <!-- Nav Bar -->
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Murtaziq</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/play#mainmenu">Play</a></li>
                    <li><a href="/static_pages/stats">Statistics</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <% if(req.session.user){ %>
                        <a href="/logout" class='logout-link'>Logout</a> 
                    <% } else{ %>
                        <a href="/login">Login</a> 
                    <% } %>
                  </li>
                </ul>
            </div>
        </div>

        <div class="jumbotron">
            <%- body %>
        </div>
        
        <!-- A few key dependencies, linked in order -->
        <script type="text/javascript" src="/js/libs/jquery-1.10.2.min.js"></script>
        <script src="/js/libs/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <!-- Bring in the socket.io client -->
        <script type="text/javascript" src="/js/libs/socket.io.js"></script>
        <!-- then beef it up with some convenience logic for talking to Sails.js -->
        <script type="text/javascript" src="/js/libs/sails.io.js"></script>
        <script type="text/javascript" src="/js/libs/underscore-min.js"></script>
        <!-- listen on socket.io for incoming messages -->
        <script type="text/javascript" src="/js/apis/mur.api.js"></script>
        <!-- Some More Local Libraries-->
        <script src="/js/libs/d3.v3.min.js"></script>
        <script src="/js/libs/require.js"></script>
        <script src="/js/libs/ejs_production.js"></script>
        <script src="/js/libs/backbone-min.js"></script>
        <!-- Our Own Code-->
        <script src="/js/app/game.js"></script>
    </body>
</html>
