<div class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
        <input type="text" id="login-username" placeholder="Username">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
        <input type="password" id="login-password" placeholder="Password">
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn" id='login-button'>Sign in</button>
    </div>
</div>