<div>
    <h3>Register</h3>
    <input type="text" id="register-username" placeholder="Username" />
    <input type="password" id="register-password" placeholder="Password" />
    <input type="password" id="register-confirm-password" placeholder="Re-enter Password" />
    <button id="register-button">Signup</button>
</div>