<div class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
        <input type="text" id="register-username" placeholder="Username">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
        <input type="password" id="register-password" placeholder="Password">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="confirm-password">Confirm Password</label>
    <div class="controls">
        <input type="password" id="register-confirm-password" placeholder="Password">
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn" id='register-button'>Sign in</button>
    </div>
</div>