<div class="page-content">
    <h1>Murtaziq - Chess Evolved</h1>
    <% if (req.session.user) { %>
      <a href="/play#mainmenu" class="btn btn-lg btn-primary">New Game</a>
    <% } else { %>
      <a href="/register" class="btn btn-lg btn-primary">Get Started &#8250;&#8250;</a>
    <% } %>
</div>  
