#piece-selection .pieceList{
  border: 1px solid black;
  min-height:100px;
}
#piece-selection .piece{
  display: inline-block;
  border: 1px solid black;
}
#piece-selection .pieceInfo{
  display: none;
  border: 1px solid black;
  background-color: #ddd;
  z-index: 1000;
}
#piece-selection .myTeamView{
  min-height: 200px;
  border: 1px solid black;
}
#piece-selection .spot {
  list-style-type: none;
  height: 100px;
  width: 100px;
  padding: 1px;
  display: inline-block;
}
#piece-selection rect {
  stroke: black;
  stroke-width: 1px;
}
.dark {
  fill: #9E8B5D;
  background-color:#9E8B5D;
}
.light {
  fill: #D6C8A7;
  background-color:#D6C8A7;
}
.friendly-highlight {
  fill: green;
}
.enemy-highlight {
  fill: red;
}
.neutral-highlight{
  fill: yellow;
}
.selected-highlight {
  fill: blue;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
#piece-selection td {
  background-color: #999;
  height:21px;
}

#lobby img{
  height: 100px;
  width: 100pxs;
}

#lobby-start-button{
  width: 145px;
}