#piece-selection .pieceList{
  border: 1px solid black;
  min-height:100px;
  position: relative;
  z-index: 2;
}
#piece-selection .piece{
  display: inline-block;
  position: relative;
}
#piece-selection .pieceInfo{
  display: none;
  position: relative;
  z-index: 1000;
}
#piece-selection .myTeamView{
  min-height: 200px;
  border: 1px solid black;
  width: 802px;
  margin: auto;
}
.board-row .spot {
  height: 100px;
  width: 100px;
  padding: 1px;
  display: block;
  position: absolute;
  top: 0;
  border: 1px solid black;
}
#piece-selection rect, #board-container rect {
  stroke: black;
  stroke-width: 1px;
}
.myTeamView .board-row {
  position: relative;
  display: block;
  height: 100px;
  z-index: 1;
}
.dark {
  fill: #9E8B5D;
  background-color:#9E8B5D;
}
.light {
  fill: #D6C8A7;
  background-color:#D6C8A7;
}
.friendly-highlight {
  fill: green;
}
.enemy-highlight {
  fill: red;
}
.neutral-highlight{
  fill: yellow;
}
.selected-highlight {
  fill: blue;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
#piece-selection td {
  background-color: #999;
  height:21px;
}

#lobby img{
  height: 100px;
  width: 100px;
}

#lobby .btn-lg-wrap,{
  width: 130px;
  margin: auto;
}
#main-menu .btn-wrap, #create-match{
  font-size: 30px;
  width: 210px;
  margin: auto;
  margin-top: 30px;
  margin-bottom : 10px;
 }

 #main-menu #user{
  margin-bottom: 40px;
 }
 #main-menu #joinable-matches{
  width: 400px;
  margin: auto;
 }

.chat{
  height: 300px;
  line-height: normal;
  padding : 5px;
  font-size: 15px;
  overflow: auto;
}
.chat-input{
  width: 76%;
}

.chat div{
  margin-bottom: 10px;
}
#view {
}

.versus {
  margin-top: 30px;
}

#piece-selection #setAsTeam {
  width: 130px;
  height: 55px;
  font-size: 25px;
  margin: auto;
}
#piece-selection #setAsTeamWrapper {
  width: 130px;
  font-size: 25px;
  margin: auto; 
  margin-top: 35px;
}

#match .players{
  line-height: normal;
}

#match .player-name{
  font-size: 30px;
}
#match #state{
  font-size: 15px
}

.container{
  margin-top: 10px;
}
hr{
  border-top-color: #ccc;
}