<div id="main-menu">
	<h1 class="text-center">Welcome to Murtaziq</h1>
	<div class="btn-wrap">
		<button class="btn btn-large btn-primary" id="create-match" data-loading-text="Loading..." data-toggle="tooltip" title="Create A New Match">Create Match</button></br>
	</div>
	<div id="user" class="text-center user"></div>
	<div id="joinable-matches" class="text-center"></div>
</div>
