<div id="main-menu">
	<h1>Welcome to Murtaziq</h1>
	<button class="btn btn-large btn-primary" id="create-match">Create Match</button></br>
	<button class="btn btn-large btn-success" id="join-match">Join Match</button> Match Id: <input type="text" id="match-id"/>
</div>
